html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: source-han-sans-japanese, sans-serif;
}
.hide {
  position: absolute;
  color: transparent;
  user-select: none;
}
.br-sp {
  display: none;
}

p,
blockquote {
  margin: 0;
}
h1,
h2 {
  margin: 0;
  font-size: unset;
  font-weight: unset;
}
ul {
  padding: 0;
  margin: 0;
}

.header {
  margin-bottom: -95px;
  font-size: 0;
  text-align: center;
}
.main {
  box-sizing: border-box;
  min-height: 100%;
  padding: 95px 0 84px;
  margin: 0 10px;
}
.footer {
  padding: 33px 0 25px;
  margin-top: -84px;
}

.logo-star {
  width: 375px;
  height: 95px;
}
.what-header {
  background-image: url("assets/sp_bg_01.png");
  background-position: center;
  background-size: cover;
}
.what-header-number {
  font-size: 50px;
  color: #a0d592;
  text-align: center;
}
.what-header-text {
  font-size: 26px;
  text-align: center;
}
.what-quote {
  margin-top: 50px;
  font-size: 26px;
}
.what-quote-indent {
  padding-inline-start: 6ex;
}
.what-text {
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}
.what-text:not(:last-child) {
  margin-bottom: 30px;
}
.what-ul {
  margin-top: 30px;
  list-style: none;
}
.what-ul > li {
  padding-left: 35px;
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 32px;
  background-image: url("assets/icon_hikapo.png");
  background-repeat: no-repeat;
}
.what-ul > li::marker {
  display: inline-block;
}

/* .icon-wrap {
  margin-top: 21px;
  text-align: center;
}
.icon {
  width: 48px;
  height: 48px;
} */
.copyrights {
  font-size: 18px;
  line-height: 26px;
  color: #707070;
  text-align: center;
  letter-spacing: 0.9px;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: -155px;
  }
  .logo-star {
    width: 647px;
    height: 155px;
  }
  .main {
    width: 650px;
    padding: 155px 0 136px;
    margin: 0 auto;
  }
  .footer {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-top: -136px;
  }

  .what-header-number {
    font-size: 60px;
    line-height: 88px;
  }
  .what-header-text {
    font-size: 30px;
    line-height: 44px;
  }
  .what-quote {
    margin-top: 30px;
  }
  .what-text {
    text-align: start;
  }
  .what-text:not(:last-child) {
    margin-bottom: 0;
  }
  /* .icon-wrap {
    margin-top: 58px;
  } */
}
