html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: source-han-sans-japanese, sans-serif;
}
.hide {
  position: absolute;
  color: transparent;
  user-select: none;
}
p,
h1 {
  margin: 0;
}
.main {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 84px;
  overflow: hidden;
}
.footer {
  padding: 33px 0 25px;
  margin-top: -84px;
}

.heading {
  width: 292px;
  height: 79px;
  margin: 42px auto 0;
  background-image: url(assets/heading-mobile.png);
  background-size: 100%;
}
.logo {
  width: 221px;
  height: 184px;
  margin: 37px auto 0;
  background-image: url(assets/logo.png);
  background-size: 100%;
}
.coming-soon {
  margin-top: 30px;
  font-size: 26px;
  line-height: 37px;
  color: #707070;
  text-align: center;
  letter-spacing: 1.3px;
}
.icon-wrap {
  margin-top: 21px;
  text-align: center;
}
.icon {
  width: 48px;
  height: 48px;
}
.copyrights {
  font-size: 18px;
  line-height: 26px;
  color: #707070;
  text-align: center;
  letter-spacing: 0.9px;
}

@media (min-width: 768px) {
  .background {
    background-position-y: 250%;
    background-size: 1920px;
    transform: translateY(-50%);
  }
  .main {
    padding-bottom: 136px;
  }
  .footer {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-top: -136px;
  }
  .heading {
    width: 642px;
    height: 42px;
    margin-top: 38px;
    background-image: url(assets/heading-desktop.png);
  }
  .logo {
    width: 376px;
    height: 315px;
    margin-top: 39px;
  }
  .logo-wrap {
    width: 720px;
    height: 358px;
    margin: 30px auto 0;
    overflow: hidden;
    background-image: url(assets/bg.gif);
    background-size: 100%;
  }
  .coming-soon {
    margin-top: 30px;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 1.5px;
  }
  .icon-wrap {
    margin-top: 58px;
  }
}
