html,
body {
  height: 100%;
}
body {
  margin:0;
  font-family: source-han-sans-japanese, sans-serif;
}
.hide {
  position: absolute;
  color: transparent;
  user-select: none;
}
p,
h1 {
  margin: 0;
}
.main {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 84px;
  overflow: hidden;
}
.footer {
  padding: 33px 0 25px;
  text-align: center;
}

.heading {
  width: 292px;
  height: 79px;
  margin: 42px auto 0;
  background-image: url(assets/heading-mobile.png);
  background-size: 100%;
}
.logo {
  width: 221px;
  height: 184px;
  margin: 37px auto 0;
  background-image: url(assets/logo.png);
  background-size: 100%;
}
.coming-soon {
  margin-top: 30px;
  font-size: 26px;
  line-height: 37px;
  color: #707070;
  text-align: center;
  letter-spacing: 1.3px;
}
.icon-wrap {
  margin-top: 21px;
  text-align: center;
}
.icon {
  width: 48px;
  height: 48px;
}
.copyrights {
  font-size: 18px;
  line-height: 26px;
  color: #707070;
  text-align: center;
  letter-spacing: 0.9px;
}

@media (min-width: 768px) {
  .background {
    background-position-y: 250%;
    background-size: 1920px;
    transform: translateY(-50%);
  }
  .main {
    padding-bottom: 136px;
  }
  .footer {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-top: -136px;
  }
  .heading {
    width: 642px;
    height: 42px;
    margin-top: 38px;
    background-image: url(assets/heading-desktop.png);
  }
  .logo {
    width: 376px;
    height: 315px;
    margin-top: 39px;
  }
  .logo-wrap {
    width: 720px;
    height: 358px;
    margin: 30px auto 0;
    overflow: hidden;
    background-image: url(assets/bg.gif);
    background-size: 100%;
  }
  .coming-soon {
    margin-top: 30px;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 1.5px;
  }
  .icon-wrap {
    margin-top: 58px;
  }
}

/*ティザー更新用*/
#content {
	text-align: center;
}

#content img {
width:647px;
max-width: 100%;
height: auto;
}

#main {
	width: 100%;
	text-align: center;
	margin: 0px auto 100px;
	text-align: center;
}

@media (min-width: 768px) {
	.br-sp {display: none; }
	
}

.logo_star {
	margin: 0 auto 100px;
}

.what {
	background: url("assets/sp_bg_01.png") no-repeat;
	text-align: center;
	background-position: center;
	margin: 0 0 80px;
}

.what .number {
	color: #a0d592;
	font-size: 60px;
	margin: -50px 0 0 0}

.what h2 {
	font-weight: 100;
	letter-spacing: 0.1em;
	font-size: 30px;
	margin: 0 0 0;
	padding: 0;
}

.what_text {
	margin: 100px auto 120px;
	width: 650px;
	text-align: left;
}

@media (max-width: 480px) {
	.logo_star {
	margin: 0 auto 30px;
}
	
	.what {
	background: url("assets/sp_bg_02.png") no-repeat;
	text-align: center;
	background-position: center;
}
	
	.what_text {
	margin: 100px auto 120px;
	width: 100%;
	text-align: center;
}
	
	.what .number {
	color: #a0d592;
	font-size: 50px;
	margin: 0}
	
	.what h2 {
	font-weight: 100;
	letter-spacing: 0.1em;
	font-size: 26px;
	margin: 0 0 0;
	padding: 0;
}
}


.what_text h3 {
	font-size: 1.8em;
	font-weight: 100;
}

@media (max-width: 480px) {
	.what_text {
	margin: 50px auto 0;
	width: 100%;
	text-align: left;
	padding: 0 10px;
}
	.what_text h3 {
	font-size: 1.6em;
	font-weight: 100;
}
	.what_text p {
	letter-spacing: 0.1em;
	line-height: 1.8em;
	font-size: 1.2em;
	text-align: center;
}

}

.what_text p {
	letter-spacing: 0.1em;
	line-height: 1.8em;
	font-size: 1.2em;
}

.what_text .color {
	color: #FFEA62;
}

.what_text ul {
	margin: 30px 0 0;
	padding: 0;
	list-style: none;
	font-size:1.4em;
	font-weight: 100;
}

.what_text li {
	background: url("assets/icon_hikapo.png") no-repeat;
	line-height: 28px;
	margin: 0 0 25px;
	padding: 0 0 0 35px;
	text-align: left;
}

.clear {
	clear: both;
}

.footer01 {
	margin: 100px auto 30px;
  text-align: center;
}


	